name: main.yml
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '**.go'
      - '**/Dockerfile*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  DOCKER_USERNAME: 'cevataykans'

jobs:
  publish_image:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    timeout-minutes: 10
    permissions:
      contents: read
    name: Publish Docker Image ${{ matrix.os == 'ubuntu-latest' && 'AMD' || 'ARM' }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_BOT_ACCESS }}
      - name: Build & Publish
        run: |
          make docker-build
          make docker-push
